@{
    ViewData["Title"] = "Home Page";
}
    

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

<button class="accordion">About the tier list</button>
    <div class="panel">
        <p>This tier list ranks each charcter based on his or her performance in each of the different end game modes</p>
    </div>

<button class="accordion">Catagories</button>
    <div class="panel">
        <ul>
            <li>
                DPS - DPS is the main damage dealer of the team. Their goals are to defeat the enemy.
            </li>
            <li>
                Sub-DPS - A secondary damage dealer, that typically doesn't deal as much damage as a proper DPS, but can make up for it by also providing a bit of support to other team members.
            </li>
            <li>
                Support - Supports are there to help the team by buffing other team members or debuffing enemies.
            </li>
            <li>
                Sustain - Sustain units keep their teammates alive. This is done by either healing or providing the team with shields.
            </li>
        </ul>
    </div>

<button class="accordion">Changes </button>
    <div class="panel">
        <p>Below is a list of recent changes to a characthers rating and an explanation</p>
    </div>

<div class="tier-list">

    <!-- Role Headers -->
    <div class="role-header">
        <div></div>
        <div>DPS</div>
        <div>Sub DPS</div>
        <div>Support</div>
        <div>Sustain</div>
    </div>

    <!-- S -->
    <div class="tier-row">
        <div class="tier-label tS">S</div>
        <div class="role-column">
            <div class="character"><img src="C:\Users\Ariel\source\repos\Honkai Star Rail Tier List\Honkai Star Rail Tier List\Images\Firefly_profile.webp"></div>
            <div class="character"></div>
        </div>
        <div class="role-column">
            <div class="character"></div>
        </div>
        <div class="role-column">
            <div class="character"></div>
            <div class="character"></div>
        </div>
        <div class="role-column">
            <div class="character"></div>
        </div>
    </div>

    <!-- A -->
    <div class="tier-row">
        <div class="tier-label tA">A</div>
        <div class="role-column"></div>
        <div class="role-column">
            <div class="character"></div>
        </div>
        <div class="role-column">
            <div class="character"></div>
        </div>
        <div class="role-column"></div>
    </div>

</div>