html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.try {
    color:yellow;
}

/*
    Accordian and panel code taken from W3Schools
*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*
    Tier List
*/

.tier-list {
    width: 95%;
    margin: 40px auto;
}

.tier-row {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr);
    margin-bottom: 12px;
    border-radius: 8px;
    overflow: hidden;
}

.tier-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    color: white;
    padding: 10px; 
}

.tier-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    align-content: flex-start;
}

.role-column {
    display: flex;
    gap: 8px;
    padding: 10px;
    background: #1e293b;
    min-height: 80px;
    border-left: 1px solid #0f172a;
}

.character {
    width: 120px;
    height: 120px;
    border-radius: 6px;
    overflow: hidden;
    background: #334155;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
}

    .character:hover {
        transform: scale(1.1);
    }

.character-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
    text-align: center;
}

.S {
    background: #facc15;
}

.A {
    background: #6f42c1;
}

.B {
    background: #1eea1c;
}

.F {
    background: #258cfb;
}

.role-header {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr);
    margin-bottom: 6px;
    font-weight: bold;
    text-align: center;
}

.role-header div {
    padding: 8px;
}

.mode-buttons {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}