html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.try {
    color: yellow;
}

.container-fluid{
    padding-left:100px;
    padding-right:100px;
}

/*
    Page Backgrounds
*/

.TLBackground {
    background-image: url('/Images/BackgroundTL.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.character-deatails-body {
    background-image: url('/Images/Backgrounds/Space.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
/*
    Accordian and panel code taken and modified from W3Schools
*/
.accordion {
    background-color: rgba(15, 23, 42, 0.9);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 0.1px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .accordion.active:after {
        content: "\2212";
    }

.panel {
    padding: 0 18px;
    background: rgba(30, 41, 59, 0.85);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius:8px;
}

/*
    Tier List
*/

.tier-list {
    width: 95%;
    margin: 40px auto;
}

.tier-row {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr);
    margin-bottom: 12px;
    border-radius: 8px;
    overflow: hidden;
}

.tier-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    color: white;
    padding: 10px;
}

.tier-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    align-content: flex-start;
}

.role-column {
    display: flex;
    gap: 8px;
    padding: 10px;
    background: #1e293b;
    min-height: 80px;
    border-left: 1px solid #0f172a;
}

.character {
    width: 120px;
    height: 120px;
    border-radius: 6px;
    overflow: hidden;
    background: #334155;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
}

    .character:hover {
        transform: scale(1.1);
    }

.character-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
    text-align: center;
}

.character-card[data-rarity="5"] .character {
    background: linear-gradient(135deg, #facc15, #fde68a);
    box-shadow: 0 0 10px rgba(250, 204, 21, 0.7);
}

.character-card[data-rarity="4"] .character {
    background: linear-gradient(135deg, #a855f7, #d8b4fe);
    box-shadow: 0 0 10px rgba(168, 85, 247, 0.6);
}

.S {
    background: #facc15;
}

.A {
    background: #c4c4c4;
}

.B {
    background: #cd7f32;
}

.F {
    background: #258cfb;
}

.role-header {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr);
    margin-bottom: 6px;
    font-weight: bold;
    text-align: center;
}

    .role-header div {
        padding: 8px;
    }

/*
    Character Tooltip
*/

.character-tooltip {
    position: fixed;
    background: rgba(15, 23, 42, 0.95);
    color: white;
    padding: 10px;
    border-radius: 8px;
    pointer-events: none;
    font-size: 12px;
    z-index: 1000;
    display: none;
    border: 1px solid #334155;
    width: 180px;
}

    .character-tooltip::after {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 7px;
        border-style: solid;
        border-color: #334155 transparent transparent transparent;
    }

    .character-tooltip::before {
        content: "";
        position: absolute;
        bottom: -6px; 
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: rgba(15, 23, 42, 0.95) transparent transparent transparent;
    }

.character-tooltip-tiers {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-start;
}

.character-tooltip-name {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
    overflow-wrap:break-word;
}

.tier-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
}

.tier-value {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 6px;
    color: black;
}

.tooltip-label {
    font-size: 10px;
    margin-top: 3px;
    color: #cbd5f5;
}

.tier-value.S {
    background: #facc15;
}

.tier-value.A {
    background: #c4c4c4; 
}

.tier-value.B {
    background: #cd7f32;
}

.tier-value.F {
    background: #258cfb; 
    color: white;
}

/*
    Mode buttons
*/
.mode-buttons {
    display: flex;
    gap: 10px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.mode-btn {
    flex: 1;
    position: relative;
    overflow: hidden;
    padding: 0;
    border: none;
    color: white;
    font-size: 24px;
    text-shadow: 0 2px 5px rgba(0,0,0,0.7);
    cursor: pointer;
}

    .mode-btn.active {
        box-shadow: 0 0 10px gold;
        transform: scale(1.02);
    }

    .mode-btn img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center;
    }

    .mode-btn span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: center;
        font-weight: bold;
    }

/*
   Filter buttons
*/

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.filter-btn {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: black;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 0;
    padding: 0;
}

    .filter-btn img {
        width: 70%;
        height: 70%;
        object-fit: contain;
        display: block;
    }

    .filter-btn:active {
        outline: none;
        box-shadow: none;
    }

.clear-filter-btn{
    color:whitesmoke;
    font-size:100%;
    background-color:black;
}


.path-btn.active {
    box-shadow: 0 0 0 2px gold;
    background: #334155;
}

.element-btn.active {
    box-shadow: 0 0 0 2px gold;
    background: #EBD5D1;
}

.rarity-btn{
    font-size:20px;
}

    .rarity-btn.active {
        box-shadow: 0 0 0 2px gold;
    }

/*
    Charcter details page
*/

.character-header{
    display:flex;
    align-items:stretch;
}

.character-header-name {
    display: flex;
    font-weight: bold;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    margin-left:50px;
}

.charcter-tab-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.character-tab-btn {
    padding: 8px 16px;
    background: #1e293b;
    border: 1px solid #334155;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

    .character-tab-btn.active {
        background: #334155;
        border-color: gold;
    }

.character-panel {
    display: none;
}

.character-panel.active {
    display: block;
}

.info-page{
    display:flex;
    flex-direction:column;
    gap:50px;
    padding-top:40px;
}

/*
    Skill display
*/

.skill-display{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.skill-group{
    display:flex;
    flex-direction:column;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items:stretch;
}

.skill {
    background-color: grey;
    border:solid;
    border-color: lightgray;
    color:white;
    height:100%;
    display:flex;
    flex-direction:column;
}

.skill-info {
    display: flex;
    align-items: stretch;
    border: solid lightgrey;
    border-width: 0 0 2px 0;
}
.skill-type {
    display: flex;
    width:200px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: solid lightgrey;
    border-width: 0 2px 0 0;
    margin: 0;
}

.skill-name{
    display: flex;
    flex: 1;
    margin: 0;
    margin-left: 5px;
}

.skill-description{
    margin-left: 5px;
}

.skill-changer{
    margin-left: 5px;
}

.skill-value{
    color: gold;
    font-weight: bold;
}

/*
    Companion Display
*/

.companion-display{
    display:flex;
    flex-direction:column;
    gap:40px;
}

.companion-header{
    display:flex;
    align-items:stretch;
}

.companion-name{
    flex:auto;
    display:flex;
    font-weight:bold;
    font-size:100px;
    align-items:center;
    justify-content:center;
}

/*
    Eidolon Display
*/

.eidolon-display{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.eidolons{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
}

.eidolon {
    background-color: grey;
    border: solid;
    border-color: lightgray;
}

.eidolon-title {
    display: flex;
    align-items: stretch;
    border: solid lightgrey;
    border-width: 0 0 2px 0;
}

.eidolon-level {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: solid lightgrey;
    border-width: 0 2px 0 0;
    margin: 0;
    font-weight: bold;
}

.eidolon-name {
    display: flex;
    flex: 1;
    margin: 0;
    margin-left: 5px;
    font-weight:bold;
    font-size: 30px;
    align-items:center;
}

.eidolon-description {
    margin-left: 5px;
    margin-top: 5px;
}

/*
    Character review page
*/

.review-page{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding-top:40px;
}

.strengths-weaknesses {
    display: flex;
    gap:100px;
}

.strengths {
    flex:1;
    background-color: grey;
    padding-left:10px;
}

.weaknesses {
    flex:1;
    background-color: grey;
    padding-left:10px;
}

.strengths ul {
    list-style: none;
    padding-left: 0;
}

.strengths li {
    display: flex;
    align-items: flex-start; 
    gap: 8px;
}

    .strengths li::before {
        content: "+";
        color: greenyellow;
        font-weight: bold;
        line-height: 1; 
        margin-top: 2px; 
    }

.weaknesses ul {
    list-style: none;
    padding-left: 0;
}

.weaknesses li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

    .weaknesses li::before {
        content: "-";
        color: red;
        font-weight: bold;
        line-height: 1;
        margin-top: 2px;
    }

.character-review {
    background-color: grey;
    padding: 5px 0 20px 5px;
}

/*
    Build section
*/

.build-page{
    display:flex;
    flex-direction:column;
    gap:50px;
    padding-top:40px;
}

.build-display{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.builds{
    display:flex;
    flex-direction:column;
    gap:50px;
}

.build{
    background-color:grey;
}

.build-header{
    display:flex;
    align-items:stretch;
    margin-bottom:20px;
    border:solid;
}

.build-name{
    font-weight:bold;
    font-size:30px;
    border:solid;
    border-width: 0 3px 0 0;
    padding-right:10px; 
    padding-left:5px;
}

.build-description{
    font-size:25px;
    margin-left:20px;
    align-content:center;
}

/*
    Build Relics
*/

.build-relics{
    margin-top:25px;
    border:solid;
}

.build-relic-header {
    display: flex;
    align-items: stretch;
    border:solid;
    border-width: 0 0 2px 0;
}

.relic-header-rank{
    display:flex;
    height:40px;
    width:40px;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    margin: 0;
    font-weight: bold;
}

.relic-header-name{
    display:flex;
    align-items:center;
    font-weight:bold;
    margin-left: 10px;
}

.relic-build-4{
    display:flex;
    align-items:center;
    padding-left:5px;
}

.relic-build-4-text{
    display:flex;
    flex-direction:column;
}

.relic-build-2{
    display:flex;
    align-items:center;
    gap:10px;
    padding-left:5px;
}

/*
    Character Stats
*/

.character-stats{
    display:flex;
    flex-direction:column;
    gap:10px;
}

/*
    Character Light Cone Section
*/

.character-light-cones{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.build-light-cone{
    display:flex;
    align-content:center;
    gap:10px;
    border:2px solid white;
}

.build-light-cone-info{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:stretch;
    flex:1;
}

.build-light-cone img {
    border:solid white;
    border-width: 0 2px 0 0;
}

.light-cone-rank{
    font-weight:bold;
}

.character-light-cone-name{
    font-weight:bold;
}

.character-light-cone-description{
    background-color:black;
    width:100%;
}

/*
    Teams Display
*/

.character-teams-display{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.character-teams {
    display: flex;
    flex-direction: column;
    
    gap:20px;
}

.character-team {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
    border: 1px solid;
    background-color: grey;
}

.team-display{
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
}

.team-member{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    width:250px;
}

    .team-member img {
        width:100%;
        height: auto;
    }

.team-name{
    display:flex;
    font-weight:bold;   
    font-size:35px;
    justify-content:center;
    border:1px solid;
}

.team-member-text {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 5px;
}

.team-member img{
    cursor:pointer;
}

/*
    Colors for elements
*/
.Fire {
    background-color: red;
}

.Quantum {
    background-color: mediumpurple;
}

.Wind{
    background-color:lawngreen;
}

/*
    Rarities
*/

.rarity-5{
    color:gold;
}

.rarity-4{
    color:purple;
}

/*
    Roles
*/

.DPS {
    background-color: red;
    border-radius: 10px;
    color:black;
}

.SubDPS {
    background-color: mediumpurple;
    border-radius:10px;
    color:black;
}

.Support {
    background-color: yellow;
    border-radius: 10px;
    color:black;
}

.Sustain {
    background-color: greenyellow;
    border-radius: 10px;
    color:black;
}